<section class="d-flex flex-column justify-content-center align-items-center">

  <h2 class="text-uppercase pt-5 fs-1 fw-bold">404</h2>
  <div class="side-boder d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <span> </span>
      <i class="bi bi-star-fill fs-6"></i>
      <span></span>
    </div>
    <p class="pt-2 fs-6">Page Not Found</p>
    <button class="btnback" routerLink="/home">Return to Home Page</button>
  </div>
</section>
