<section class="d-flex flex-column justify-content-center align-items-center">
  <h2 class="text-light text-uppercase pt-5 fs-1 fw-bold">About Component</h2>

  <div class="side-border d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <span> </span>
      <i class="bi bi-star-fill fs-6 text-light"></i>
      <span></span>
    </div>
    <div
      class="content-wrapper d-flex flex-column flex-md-row justify-content-evenly align-items-center gap-4 pt-2 mx-md-5">
      <p class="text-light text-center text-md-start fs-6">
        Freelancer is a free Bootstrap theme created by Route. The download includes the complete source files,
        including HTML, CSS, and JavaScript, as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="text-light text-center text-md-start fs-6">
        Freelancer is a free Bootstrap theme created by Route. The download includes the complete source files,
        including HTML, CSS, and JavaScript, as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
