<section class="d-flex flex-column justify-content-center align-items-center">

  <h2 class="text-uppercase fs-1 text-center fw-bold">Contact Component</h2>
  <div class="side-boder d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <span class=""></span>
      <i class="bi bi-star-fill fs-6"></i>
      <span class=""></span>
    </div>
    <form class="m-5 p-5 w-100 w-md-75 w-lg-50">
      <fieldset class="row g-4">
        <div class="col-12">
          <input type="text" placeholder="UserName" required>
        </div>
        <div class="col-12">
          <input type="text" placeholder="UserAge" required>
        </div>
        <div class="col-12">
          <input type="email" placeholder="UserEmail" required>
        </div>
        <div class="col-12">
          <input type="password" placeholder="UserPassword" required>
        </div>
        <div class="col-12">
          <button type="submit">Send Message</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
