.navbar{
  background-color: #2C3E50;
  transition: all 0.5s ease;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.active-link{
background-color: #1ABC9C;
}

.navbar-brand{
font-size: 1.5625rem;
font-weight: 700;
color: white;
}
.nav-link{
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

