.portfolio {
  min-height: 100vh;
  background-color: #FFFFFF;
  width: 100%;
  padding: 8rem 0;
}

h2 {
  color: #2C3E50;
}

span {
  border: 2px solid #2C3E50;
  margin: 0 15px;
  padding: 0 40px;
  border-radius: 15%;
}

i {
  color: #2C3E50;
}


.portfolio-header {
  padding-top: 80px;
}

.bg-icon {
  inset: 0;
  background-color: #1abc9ce6;
  opacity: 0;
  transition: 0.5s ease opacity;

  i {
    font-size: 6rem;
  }

}

.card-portfolio:hover .bg-icon {
  opacity: 1;
  cursor: pointer;
}

.show-img {
  position: fixed;
  z-index: 555555;
  background-color: rgba(13, 110, 253, 0.25);
  inset: 0;
}
