<section class="d-flex flex-column justify-content-center align-items-center">
  <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" alt="Avatar-Image"
    decoding="async" />
  <h2 class="text-light text-uppercase pt-5 fs-1">Start Framework</h2>
  <div class="side-boder d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <span> </span>
      <i class="bi bi-star-fill fs-4 text-light"></i>
      <span></span>
    </div>
    <p class="pt-2 fs-6 text-light">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
